/* git
ln
twit
fb
etsy
medium
sc
skype
gmail */

.main-nav {
  height: 72px;
  box-shadow: 0px 0px 12px 0 rgba(0, 0, 0, 0.07);

}

.footer-container {
  height: 100px;
}

.footer-text {
  margin-top: auto;
  margin-bottom: auto;
  text-align: center;
  font-family: avenir-light;
}

.bg-light {
  background-color: white;
}
